Django==5.2.6
django-environ==0.12.0
# django-cors-headers==4.7.0 #permite tener coneccion del frot con el back
djangorestframework==3.16.1
uvicorn==0.37.0 # para poder utilizar asgi
channels==4.3.1
channels-redis==4.3.0
django-redis==6.0.0
Pillow==11.3.0 #para trabajar con imagenes
# django-storages==1.14.6 #para poder guardar cosas en aws
django-ckeditor-5==0.2.18 #poder hacer mas dinamicos los codigos
psycopg2==2.9.4 #para trabajar con postgres sql

# social-auth-app-django==5.5.1
# argon2-cffi==25.1.0
# boto3==1.40.1
# gunicorn==23.0.0
# markdown==3.8.2
whitenoise==6.11.0
# requests==2.32.4
# djoser==2.3.3
watchfiles>=0.20.0
